@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --animate-border: border 2s linear infinite;
}

@keyframes border {
  to {
    --border-angle: 360deg;
  }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
